# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build Configuration, i.e. Debug, Release, etc.
configuration:
- Debug
- Release

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: x86

build:
  project: 3D Engine.sln
  
  # MSBuild verbosity level
  verbosity: normal
  
artifacts:
- path: Game
  name: game_files
  
#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:

  # Email
  - provider: Email
    to:
      - martimyc@gmail.com
      - marc.lafrwy@gmail.com
    subject: 'Build {{status}}'                  # optional
    message: "{{message}}, {{commitId}}, ..."    # optional
    on_build_status_changed: true

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

# providers: Local, FTP, WebDeploy, AzureCS, AzureBlob, S3, NuGet, Environment
# provider names are case-sensitive!

# Deploy to GitHub Releases
deploy:
- provider: GitHub
  description: Release
  on:
      branch: master 
  artifact: game_files
  draft: false
  prerelease: false
  on:
    CONFIGURATION: Release

